<style>
    .main {
        padding: 15px;
    }
    .sub-title {
        font-size: 30px;
    }
    .bold {
        font-weight: bold;
    }
    .paragraph {
        font-size: 16px;
        margin-bottom: 10px;
    }
    .answers {
        display: flex;
        margin-bottom: 20;
    }
    .value {
        background-color: #734bd1aa;
        border-radius: 4px;
        color: #fff;
        margin-right: 2px;
        text-decoration: none;
        width: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .value: hover {
        background-color: #472695ed;
    }
</style>

<main class="main">
    <p class="paragraph">
        Olá <span class="bold">{{name}}</span>! tudo bem?
    </p>

    <p class="paragraph">{{title}}</h3>
    
    <p class="paragraph">{{description}}</p>

    <section class="answers">
        <a class="value" href="">1</a>
        <a class="value" href="">2</a>
        <a class="value" href="">3</a>
        <a class="value" href="">4</a>
        <a class="value" href="">5</a>
        <a class="value" href="">6</a>
        <a class="value" href="">7</a>
        <a class="value" href="">8</a>
        <a class="value" href="">9</a>
        <a class="value" href="">10</a>
    </section>

    <p class="paragraph">Sua opnião é muito importante para nós</p>
</main>